<div ng-controller="LmsApiCtrl">
  <div class="row">
    <div class="col-sm-3">
      <img class="img-cover" ng-if="CoverUrl" ng-src="{{CoverUrl}}"></img>
    </div>
    <div class="col-sm-6">
      <p ng-if="data.playlist_cur_index" align="center" style="font-size:1.5em;">
        {{data.playlist_loop[data.playlist_cur_index]['playlist index'] + 1}}. {{data.playlist_loop[data.playlist_cur_index].title}}
      </p>
      <p ng-if="data.playlist_cur_index" align="center" style="font-size:1.2em;">
        {{data.playlist_loop[data.playlist_cur_index].artist}}
      </p>
      <p ng-if="data.playlist_cur_index && data.playlist_loop[data.playlist_cur_index].album" align="center" style="font-size:1.2em;">
        {{data.playlist_loop[data.playlist_cur_index].album}} ({{data.playlist_loop[data.playlist_cur_index].year}})
      </p>
      <p style="margin-top:25px;margin-bottom:25px;" align="center">
        <span class="glyphicon glyphicon-step-backward clickable control-button" ng-mousedown="lmsPost(['button','jump_rew']);"></span>
        <span ng-class="data.mode != 'play' ? 'glyphicon glyphicon-play clickable control-button' : 'glyphicon glyphicon-pause clickable control-button';" ng-mousedown="lmsPost(['pause']);"></span>
        <span class="glyphicon glyphicon-step-forward clickable control-button" ng-mousedown="lmsPost(['button','jump_fwd']);"></span>
      </p>
      <input style="margin-bottom:10px;margin-top:0px;" class="clickable" type="range" min="0" max="{{data.duration ? data.duration : 0}}" ng-model="trackpos" ng-mousedown="TrackPosChange=1;" ng-mouseup="lmsPost(['time',trackpos]);TrackPosChange=0;">
      <p style="text-align:left;">
        {{trackpos | num | secondsToDateTime | date:'HH:mm:ss'}}
        <span ng-if="data.duration" style="float:right;">{{data.duration | num | secondsToDateTime | date:'HH:mm:ss'}}</span>
        <span ng-if="!data.duration" style="float:right;">{{0 | num | secondsToDateTime | date:'HH:mm:ss'}}</span>
      </p>
    </div>
    <div class="col-sm-3">
      <select class="form-control clickable" ng-model="player" ng-options="player.name for player in players.players_loop"></select>
      <p style="margin-bottom:5px;margin-top:10px;">Volume: {{volume}}</p>
      <input style="margin-bottom:10px;margin-top:0px;" class="clickable" type="range" min="0" max="100" ng-model="volume" ng-mousedown="VolChange=1;" ng-mouseup="lmsPost(['mixer','volume',volume]);VolChange=0;">
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col-sm-6">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>
              <b class="clickable" ng-mousedown="getmenu()">Home</b>
              <b class="clickable" ng-repeat="breadCrumb in breadCrumbs track by $index" ng-mousedown="breadCrumbfunc($index)">
                <span class="glyphicon glyphicon-menu-right"></span>
                {{breadCrumb[0].text}}
              </b>
            </th>
          </tr>
        </thead>
        <tdbody>
          <tr ng-if="menu" ng-repeat="menuitem in menu.item_loop | menu_filter:'node':nodefilter:filterisEnable | orderBy:orderby track by $index">
            <td>
              <div style='width:{{100-menuContentWidth}}%;' class="pre-whitespace first-line-bold clickable dot-overflow menu-float-left"
              ng-init="menuContentWidth=0" title="{{menuitem.text}}" ng-mousedown="menufunc(menuitem)">{{menuitem.text}}</div>
              <div style='width:{{$parent.menuContentWidth = 10}}%;' ng-if="menuitem.params.isContextMenu || menuitem.type == 'playlist' || menuitem.type == 'audio'" class="menu-float-right text-nowrap">
                <div class="btn-group vert-align" uib-dropdown on-toggle="open ? submenu(menuitem,'more',1) : ddClose()">
                  <button class="btn btn-xs" type="button" uib-dropdown-toggle id="{{menuitem.commonParams.album_id}}">
                    <span class="glyphicon glyphicon-option-horizontal gi-v-centered"></span>
                  </button>
                  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="{{menuitem.commonParams.album_id}}">
                    <li ng-repeat="contextItem in contextMenu.item_loop" ng-class="contextItem.action=='none' ? 'disabled' : ''" ng-mousedown="menufunc(contextItem)" role="menuitem">
                      <a href="#/">{{contextItem.text}}</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div style='width:{{$parent.menuContentWidth = 30}}%;' ng-if="menuitem.type=='search' || menuitem.actions.go.params.search" class="menu-float-right text-nowrap">
                <form class="search-form" ng-submit="search(menuitem,searchInput)">
                  <div class="input-group input-group-sm">
                    <input type="text" class="form-control" ng-model="searchInput" placeholder="Search...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button submit">
                        <span class="glyphicon glyphicon-search"></span>
                      </button>
                    </span>
                  </div>
                </form>
              </div>
            </td>
          </tr>
        </tdbody>
      </table>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
      <table class="table table-hover table-condensed">
        <thead>
          <tr colspan="2">
            <th class="td-content">Playlist:</th>
            <th class="text-right text-nowrap vert-align">
              <button class="btn btn-sm btn-danger" ng-mousedown="lmsPost(['playlist','clear']);"><span class="glyphicon glyphicon-trash gi-v-centered"></span></button>
            </th>
          </td>
        </thead>
        <tbody>
          <tr ng-if="data.playlist_tracks!=0" ng-repeat="title in data.playlist_loop" ng-class="title['playlist index'] == data.playlist_cur_index ? 'active' : '';"  style="font-size:0.9em;">
            <td class="td-content clickable" ng-mousedown="lmsPost(['playlist','index',title['playlist index']]);">
              <b>{{title.title}}</b><br>
              {{title.artist}}<br>
              {{title.album}}
            </td>
            <td class="text-right text-nowrap">
              <button class="btn btn-sm btn-warning" ng-mousedown="lmsPost(['playlist','delete',title['playlist index']]);">
                <span class="glyphicon glyphicon-trash gi-v-centered"></span>
              </button>
            </td>
          </tr>
          <tr ng-if="data.playlist_tracks==0">
            <td>
              <b>Empty Playlist</b>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
