<div class="wrapper" ng-controller="LmsApiCtrl">
  <div class="header-row">
    <div class="col-25">
      <img class="img-cover" ng-if="CoverUrl" http-src="{{CoverUrl}}"></img>
    </div>
    <div class="col-50">
      <div class="title-style" title="{{data.playlist_loop[data.playlist_cur_index].title}}" ng-style="{'visibility':(data.playlist_cur_index | typeof)!='undefined'?'visible':'hidden'}">
        {{data.playlist_loop[data.playlist_cur_index]['playlist index'] + 1}}. {{data.playlist_loop[data.playlist_cur_index].title}}
      </div>
      <div class="artist-album-style" title="{{data.playlist_loop[data.playlist_cur_index].artist}}" ng-style="{'visibility':(data.playlist_loop[data.playlist_cur_index].artist | typeof)!='undefined'?'visible':'hidden'}">
        {{data.playlist_loop[data.playlist_cur_index].artist ? data.playlist_loop[data.playlist_cur_index].artist : 'space'}}
      </div>
      <div class="artist-album-style" title="{{data.playlist_loop[data.playlist_cur_index].album}}" ng-style="{'visibility':(data.playlist_loop[data.playlist_cur_index].album | typeof)!='undefined'?'visible':'hidden'}">
        {{data.playlist_loop[data.playlist_cur_index].album}} ({{data.playlist_loop[data.playlist_cur_index].year}})
      </div>
      <div class="control-button-container">
        <span class="glyphicon glyphicon-step-backward clickable control-button" ng-click="lmsPost(['button','jump_rew']);"></span>
        <span ng-class="data.mode != 'play' ? 'glyphicon glyphicon-play clickable control-button' : 'glyphicon glyphicon-pause clickable control-button';" ng-click="lmsPost(['pause']);"></span>
        <span class="glyphicon glyphicon-step-forward clickable control-button" ng-click="lmsPost(['button','jump_fwd']);"></span>
      </div>
      <input style="margin-bottom:10px;margin-top:0px;" class="clickable" type="range" min="0" max="{{data.duration ? data.duration : 0}}" ng-model="trackpos" ng-mousedown="TrackPosChange=1;" ng-mouseup="lmsPost(['time',trackpos]);TrackPosChange=0;">
      <p style="text-align:left;">
        {{trackpos | num | secondsToDateTime | date:'HH:mm:ss'}}
        <span ng-if="data.duration" style="float:right;">{{data.duration | num | secondsToDateTime | date:'HH:mm:ss'}}</span>
        <span ng-if="!data.duration" style="float:right;">{{0 | num | secondsToDateTime | date:'HH:mm:ss'}}</span>
      </p>
    </div>
    <div class="col-25">
      <select class="form-control clickable" ng-model="player" ng-options="player.name for player in players.players_loop"></select>
      <div class="btn-group btn-group-justified" role="group" style="margin-top:10px;">
        <a href="#/" type="button" ng-class="data.power == 1 ? 'btn btn-info' : 'btn btn-default'" ng-click="lmsPost(['power'])"
           ng-attr-title="{{ data.power == 0 ? 'Power Off' : 'Power On' }}">
          <span class="glyphicon glyphicon-off"></span>
        </a>
        <a href="#/" type="button" ng-class="data['playlist repeat'] > 0 ? 'btn btn-info' : 'btn btn-default'" ng-click="lmsPost(['playlist', 'repeat'])"
           ng-attr-title="{{ repeatText }}">
          <span class="glyphicon glyphicon-repeat"></span>
          <span ng-if="data['playlist repeat'] == 1" class="glyphicon glyphicon-music label-gi-btn"></span>
        </a>
        <a href="#/" type="button" ng-class="data['playlist shuffle'] > 0 ? 'btn btn-info' : 'btn btn-default'" ng-click="lmsPost(['playlist', 'shuffle'])"
           ng-attr-title="{{ shuffleText }}">
          <span class="glyphicon glyphicon-random"></span>
          <span ng-if="data['playlist shuffle'] == 2" class="glyphicon glyphicon-cd label-gi-btn"></span>
        </a>
      </div>
      <p style="margin-bottom:5px;margin-top:10px;">Volume: {{volume}}</p>
      <input style="margin-bottom:10px;margin-top:0px;" class="clickable" type="range" min="0" max="100" ng-model="volume" ng-mousedown="VolChange=1;" ng-mouseup="lmsPost(['mixer','volume',volume]);VolChange=0;">
    </div>
  </div>
  <div class="content-header-row">
    <div class="content-header-col-50" style="font-size:16px;">
      <div style="font-size:16px; padding:7px 10px;">
        <b class="clickable" ng-click="getmenu()">Home</b>
        <b class="clickable" ng-repeat="breadCrumb in breadCrumbs track by $index" ng-click="breadCrumbfunc($index)">
          <span class="glyphicon glyphicon-menu-right"></span>
          {{breadCrumb[0].text}}
        </b>
      </div>
    </div>
    <div class="content-header-col-50">
      <div style="font-size:16px; padding:7px 10px;">
        <b>Playlist:</b>
        <div class="pull-right">
          <button class="btn btn-sm btn-danger" ng-click="lmsPost(['playlist','clear']);">
            <span class="glyphicon glyphicon-trash gi-v-centered"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="content-row">
    <div class="content-header-col-50 scroll">
      <ul class="list-group" dnd-list="menu.item_loop" dnd-allowed-types="[null]">
        <li ng-if="menu"
            class="list-group-item"
            ng-repeat="menuitem in menu.item_loop | menu_filter:'node':nodefilter:filterisEnable | orderBy:orderby"
            dnd-draggable="menuitem"
            dnd-effect-allowed="copy"
            dnd-disable-if="!menuitem.params.isContextMenu && menuitem.type !== 'playlist' && menuitem.type !== 'audio'"
            dnd-type="'menu'">
          <div class="btn-group vert-align pull-right" uib-dropdown on-toggle="open ? submenu(menuitem,'more',1) : ddClose()"
               ng-if="menuitem.params.isContextMenu || menuitem.type == 'playlist' || menuitem.type == 'audio'" class="menu-float-right text-nowrap">
            <button class="btn btn-xs" type="button" uib-dropdown-toggle id="{{menuitem.commonParams.album_id}}">
              <span class="glyphicon glyphicon-option-horizontal gi-v-centered"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="{{menuitem.commonParams.album_id}}">
              <li ng-repeat="contextItem in contextMenu.item_loop" ng-class="contextItem.action=='none' ? 'disabled' : ''" ng-click="menufunc(contextItem)" role="menuitem">
                <a href="#/">{{contextItem.text}}</a>
              </li>
            </ul>
          </div>
          <div ng-if="menuitem.type=='search' || menuitem.actions.go.params.search" class="pull-right" style="width:100px">
            <form class="search-form" ng-submit="search(menuitem,searchInput)">
              <div class="input-group input-group-sm">
                <input type="text" class="form-control" ng-model="searchInput" placeholder="Search..."></input>
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button submit">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </span>
              </div>
            </form>
          </div>
          <div class="clickable" ng-attr-title="{{ bubbletips ? menuitem.text : undefined }}" ng-click="menufunc(menuitem)">
            <img style="float:left;width:38px;margin-right:10px;"
                 ng-if="(menuitem.type == 'playlist' || menuitem.type == 'audio') && menuArtwork == true"
                 http-src="{{iconUrl(menuitem)}}"></img>
            <div class="pre-whitespace first-line-bold dot-overflow">{{menuitem.text}}</div>
          </div>
          <div style="clear: both;"></div>
        </li>
      </ul>
      <div class="text-center">
        <ul ng-show="(menu.count / maxitems) > 1 && !filterisEnable"
        uib-pagination ng-change="pagefunc()" total-items="menu.count" items-per-page="maxitems" ng-model="menuPage"
        max-size="4" force-ellipses="true" class="pagination pagination-sm" boundary-links="true"
        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
      </div>
    </div>
    <div class="content-header-col-50 scroll">
      <ul class="list-group" dnd-list="playlist" dnd-drop="dndPlaylistMove(type, item, index)">
        <li ng-class="title['playlist index'] == data.playlist_cur_index ? 'active' : ''" class="list-group-item clickable playlist"
            ng-if="data.playlist_tracks !== 0"
            ng-repeat="title in playlist track by title.id"
            dnd-draggable="title"
            dnd-effect-allowed="move"
            dnd-type="'playlist'">
          <button style="float:right;" class="btn btn-sm btn-warning" ng-click="lmsPost(['playlist','delete',title['playlist index']]);">
            <span class="glyphicon glyphicon-trash gi-v-centered"></span>
          </button>
          <div ng-click="lmsPost(['playlist','index',title['playlist index']]);" class="dot-overflow nowrap">
            <img ng-if="playlistArtwork == true" http-src="{{iconUrl(title)}}" style="float:left;width:60px;margin-right:10px;"></img>
            <b title="{{title.title}}">{{title.title}}</b><br>
            {{title.artist}}<br>
            {{title.album}}
          </div>
        </li>
        <li class="list-group-item" ng-if="data.playlist_tracks === 0">
          <b>Empty Playlist</b>
        </li>
      </ul>
    </div>
  </div>
</div>
