<div ng-controller="LmsApiCtrl">
  <div class="row">
    <div class="col-sm-3">
      <img style="padding: 25px 25px 25px 25px;" class="img-responsive img-center" ng-if="CoverUrl" ng-src="{{CoverUrl}}"></img>
    </div>
    <div class="col-sm-6">
      <p ng-if="data.playlist_cur_index" align="center" style="font-size:1.5em;">
        {{data.playlist_loop[data.playlist_cur_index]['playlist index'] + 1}}. {{data.playlist_loop[data.playlist_cur_index].title}}
      </p>
      <p ng-if="data.playlist_cur_index" align="center" style="font-size:1.2em;">
        {{data.playlist_loop[data.playlist_cur_index].artist}}
      </p>
      <p ng-if="data.playlist_cur_index && data.playlist_loop[data.playlist_cur_index].album" align="center" style="font-size:1.2em;">
        {{data.playlist_loop[data.playlist_cur_index].album}} ({{data.playlist_loop[data.playlist_cur_index].year}})
      </p>
      <p style="margin-top:25px;margin-bottom:25px;" align="center">
        <span style="margin-left:35px;margin-right:35px;font-size:2em;" class="glyphicon glyphicon-step-backward clickable" ng-mousedown="params.push('button','jump_rew');lmsPost();"></span>
        <span style="margin-left:35px;margin-right:35px;font-size:2em;" ng-class="data.mode != 'play' ? 'glyphicon glyphicon-play clickable' : 'glyphicon glyphicon-pause clickable';" ng-mousedown="params.push('pause');lmsPost();"></span>
        <span style="margin-left:35px;margin-right:35px;font-size:2em;" class="glyphicon glyphicon-step-forward clickable" ng-mousedown="params.push('button','jump_fwd');lmsPost();"></span>
      </p>
      <input style="margin-bottom:10px;margin-top:0px;" class="clickable" type="range" min="0" max="{{data.duration}}" ng-model="trackpos" ng-mousedown="TrackPosChange=1;" ng-mouseup="params.push('time',trackpos);lmsPost();TrackPosChange=0;">
      <p style="text-align:left;">
        {{trackpos | number:0 | secondsToDateTime | date:'HH:mm:ss'}}
        <span ng-if="data.duration" style="float:right;">{{data.duration | number:0 | secondsToDateTime | date:'HH:mm:ss'}}</span>
        <span ng-if="!data.duration" style="float:right;">{{0 | number:0 | secondsToDateTime | date:'HH:mm:ss'}}</span>
      </p>
    </div>
    <div class="col-sm-3">
      <select class="form-control clickable" ng-model="player" ng-options="player.name for player in players.players_loop"></select>
      <p style="margin-bottom:5px;margin-top:10px;">Volume: {{volume}}</p>
      <input style="margin-bottom:10px;margin-top:0px;" class="clickable" type="range" min="0" max="100" ng-model="volume" ng-mousedown="VolChange=1;" ng-mouseup="params.push('mixer','volume',volume);lmsPost();VolChange=0;">
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col-sm-6">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th class="td-content clickable" ng-mousedown="getmenu()">
              <b>Home</b>
            </th>
          </tr>
        </thead>
        <tdbody>
          <tr ng-if="menu" ng-repeat="menuitem in menu.item_loop | menu_filter:'node':nodefilter:filterisEnable">
            <td class="pre-whitespace first-line-bold clickable" ng-mousedown="menufunc(menuitem)">{{menuitem.text}}</td>
            <td ng-if="menuitem.type=='playlist' && menuitem.commonParams.album_id" class="text-right text-nowrap vert-align">
              <div class="btn-group" uib-dropdown>
                <button class="btn btn-xs" type="button" uib-dropdown-toggle id="{{menuitem.commonParams.album_id}}">
                  <span class="glyphicon glyphicon-option-horizontal gi-v-centered"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="{{menuitem.commonParams.album_id}}">
                  <li role="menuitem" ng-mousedown="params.push('playlistcontrol','cmd:load','album_id:' + menuitem.commonParams.album_id);lmsPost();">
                    <a href="#/"><span class="glyphicon glyphicon-play"></span> Play Now</a>
                  </li>
                  <li role="menuitem" ng-mousedown="params.push('playlistcontrol','cmd:insert','album_id:' + menuitem.commonParams.album_id);lmsPost();">
                    <a href="#/"><span class="glyphicon glyphicon-play"></span> Play Next</a>
                  </li>
                  <li role="menuitem" ng-mousedown="params.push('playlistcontrol','cmd:add','album_id:' + menuitem.commonParams.album_id);lmsPost();">
                    <a href="#/"><span class="glyphicon glyphicon-plus"></span> Add to End</a>
                  </li>
                </ul>
              </div>
            </td>
            <td ng-if="menuitem.type=='playlist' && menuitem.commonParams.artist_id" class="text-right text-nowrap vert-align">
              <div class="btn-group" uib-dropdown>
                <button class="btn btn-xs" type="button" uib-dropdown-toggle id="{{menuitem.commonParams.artist_id}}">
                  <span class="glyphicon glyphicon-option-horizontal gi-v-centered"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="{{menuitem.commonParams.artist_id}}">
                  <li role="menuitem" ng-mousedown="params.push('playlistcontrol','cmd:load','artist_id:' + menuitem.commonParams.artist_id);lmsPost();">
                    <a href="#/"><span class="glyphicon glyphicon-play"></span> Play Now</a>
                  </li>
                  <li role="menuitem" ng-mousedown="params.push('playlistcontrol','cmd:insert','artist_id:' + menuitem.commonParams.artist_id);lmsPost();">
                    <a href="#/"><span class="glyphicon glyphicon-play"></span> Play Next</a>
                  </li>
                  <li role="menuitem" ng-mousedown="params.push('playlistcontrol','cmd:add','artist_id:' + menuitem.commonParams.artist_id);lmsPost();">
                    <a href="#/"><span class="glyphicon glyphicon-plus"></span> Add to End</a>
                  </li>
                </ul>
              </div>
            </td>
            <td ng-if="menuitem.type=='playlist' && menuitem.commonParams.playlist_id" class="text-right text-nowrap vert-align">
              <div class="btn-group" uib-dropdown>
                <button class="btn btn-xs" type="button" uib-dropdown-toggle id="{{menuitem.commonParams.playlist_id}}">
                  <span class="glyphicon glyphicon-option-horizontal gi-v-centered"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="{{menuitem.commonParams.playlist_id}}">
                  <li role="menuitem" ng-mousedown="params.push('playlistcontrol','cmd:load','playlist_id:' + menuitem.commonParams.playlist_id);lmsPost();">
                    <a href="#/"><span class="glyphicon glyphicon-play"></span> Play Now</a>
                  </li>
                  <li role="menuitem" ng-mousedown="params.push('playlistcontrol','cmd:insert','playlist_id:' + menuitem.commonParams.playlist_id);lmsPost();">
                    <a href="#/"><span class="glyphicon glyphicon-play"></span> Play Next</a>
                  </li>
                  <li role="menuitem" ng-mousedown="params.push('playlistcontrol','cmd:add','playlist_id:' + menuitem.commonParams.playlist_id);lmsPost();">
                    <a href="#/"><span class="glyphicon glyphicon-plus"></span> Add to End</a>
                  </li>
                </ul>
              </div>
            </td>
            <td ng-if="menuitem.type=='audio' && menuitem.commonParams.track_id" class="text-right text-nowrap vert-align">
              <div class="btn-group" uib-dropdown>
                <button class="btn btn-xs" type="button" uib-dropdown-toggle id="{{menuitem.commonParams.track_id}}">
                  <span class="glyphicon glyphicon-option-horizontal gi-v-centered"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="{{menuitem.commonParams.track_id}}">
                  <li role="menuitem" ng-mousedown="params.push('playlistcontrol','cmd:load','track_id:' + menuitem.commonParams.track_id);lmsPost();">
                    <a href="#/"><span class="glyphicon glyphicon-play"></span> Play Now</a>
                  </li>
                  <li role="menuitem" ng-mousedown="params.push('playlistcontrol','cmd:insert','track_id:' + menuitem.commonParams.track_id);lmsPost();">
                    <a href="#/"><span class="glyphicon glyphicon-play"></span> Play Next</a>
                  </li>
                  <li role="menuitem" ng-mousedown="params.push('playlistcontrol','cmd:add','track_id:' + menuitem.commonParams.track_id);lmsPost();">
                    <a href="#/"><span class="glyphicon glyphicon-plus"></span> Add to End</a>
                  </li>
                </ul>
              </div>
            </td>
            <td ng-if="menuitem.type=='audio' && menuitem.params.item_id" class="text-right text-nowrap vert-align">
              <div class="btn-group" uib-dropdown>
                <button class="btn btn-xs" type="button" uib-dropdown-toggle id="{{menuitem.params.item_id}}">
                  <span class="glyphicon glyphicon-option-horizontal gi-v-centered"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="{{menuitem.params.item_id}}">
                  <li role="menuitem" ng-mousedown="params.push('local','playlist','play','item_id:' + menuitem.params.item_id);lmsPost();">
                    <a href="#/"><span class="glyphicon glyphicon-play"></span> Play Now</a>
                  </li>
                  <li role="menuitem" ng-mousedown="params.push('local','playlist','insert','item_id:' + menuitem.params.item_id);lmsPost();">
                    <a href="#/"><span class="glyphicon glyphicon-play"></span> Play Next</a>
                  </li>
                  <li role="menuitem" ng-mousedown="params.push('local','playlist','add','item_id:' + menuitem.params.item_id);lmsPost();">
                    <a href="#/"><span class="glyphicon glyphicon-plus"></span> Add to End</a>
                  </li>
                </ul>
              </div>
            </td>
            <td ng-if="menuitem.type=='playlist' && menuitem.params.item_id" class="text-right text-nowrap vert-align">
              <div class="btn-group" uib-dropdown>
                <button class="btn btn-xs" type="button" uib-dropdown-toggle id="{{menuitem.params.item_id}}">
                  <span class="glyphicon glyphicon-option-horizontal gi-v-centered"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="{{menuitem.params.item_id}}">
                  <li role="menuitem" ng-mousedown="params.push('favorites','playlist','play','item_id:' + menuitem.params.item_id);lmsPost();">
                    <a href="#/"><span class="glyphicon glyphicon-play"></span> Play Now</a>
                  </li>
                  <li role="menuitem" ng-mousedown="params.push('favorites','playlist','insert','item_id:' + menuitem.params.item_id);lmsPost();">
                    <a href="#/"><span class="glyphicon glyphicon-play"></span> Play Next</a>
                  </li>
                  <li role="menuitem" ng-mousedown="params.push('favorites','playlist','add','item_id:' + menuitem.params.item_id);lmsPost();">
                    <a href="#/"><span class="glyphicon glyphicon-plus"></span> Add to End</a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tdbody>
      </table>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
      <table class="table table-hover table-condensed">
        <thead>
          <tr colspan="2">
            <th class="td-content">Playlist:</th>
            <th class="text-right text-nowrap vert-align">
              <button class="btn btn-sm btn-danger" ng-mousedown="params.push('playlist','clear');lmsPost();"><span class="glyphicon glyphicon-trash gi-v-centered"></span></button>
            </th>
          </td>
        </thead>
        <tbody>
          <tr ng-if="data.playlist_tracks!=0" ng-repeat="title in data.playlist_loop" ng-class="title['playlist index'] == data.playlist_cur_index ? 'active' : '';"  style="font-size:0.9em;">
            <td class="td-content clickable" ng-mousedown="params.push('playlist','index',title['playlist index']);lmsPost();">
              <b>{{title.title}}</b><br>
              {{title.artist}}<br>
              {{title.album}}
            </td>
            <td class="text-right text-nowrap vert-align">
              <button class="btn btn-sm btn-warning" ng-mousedown="params.push('playlist','delete',title['playlist index']);lmsPost();"><span class="glyphicon glyphicon-trash gi-v-centered"></span></button>
            </td>
          </tr>
          <tr ng-if="data.playlist_tracks==0">
            <td>
              <b>Empty Playlist</b>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
