.control-button{
  margin: 0px 35px;
  font-size: 2em;
}

.img-cover{
  padding: 10px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.search-form {
  margin:0px;
}

body {
  padding:10px;
  padding-bottom:30px;
  overflow-x: hidden;
}

.clickable {
  cursor: pointer;
}

.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:32px !important}

.pre-whitespace{
  white-space:pre;
}

.dot-overflow{
  overflow:hidden !important;
  text-overflow:ellipsis;
}

.menu-float-right{
  float:right;
  text-align:right;
}

.menu-float-left{
  float:left;
  text-align:left;
}

.td-content{
  width: 85%;
}

.first-line-bold::first-line {
  font-weight:bold;
}

.table {
  table-layout:fixed;
}

.glyphicon.gi-v-centered {
  position: inherit;
  vertical-align: middle;
}

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

.top-buffer {margin-top:20px;}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: auto;
    height: 6px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: lightblue;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-thumb {

}
